<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Ivar the Boneless</title>
    <link rel="stylesheet" href="/stylesheet/styles.css" />
  </head>
  <body>
    <div class="about_container">
      <h1>Welcome to Eminems Page</h1>
      <p>
        Marshall Bruce Mathers III (born October 17, 1972), known professionally
        as Eminem (/ˌɛmɪˈnɛm/; formerly stylized as EMINƎM), is an American
        rapper, songwriter, and record producer. He is credited with
        popularizing hip hop in middle America and is critically acclaimed as
        one of the greatest rappers of all time.[2] Eminem's global success and
        acclaimed works are widely regarded as having broken racial barriers for
        the acceptance of white rappers in popular music. While much of his
        transgressive work during the late 1990s and early 2000s made him widely
        controversial, he came to be a representation of popular angst of the
        American underclass, and has been cited as an influence for many artists
        of various genres.
      </p>
      <p>
        After his debut album Infinite (1996) and the extended play Slim Shady
        EP (1997), Eminem signed with Dr. Dre's Aftermath Entertainment and
        subsequently achieved mainstream popularity in 1999 with The Slim Shady
        LP. His next two releases, The Marshall Mathers LP (2000) and The Eminem
        Show (2002), were worldwide successes and were both nominated for the
        Grammy Award for Album of the Year. After the release of his next album,
        Encore (2004), Eminem went on hiatus in 2005, largely due to a
        prescription drug addiction.[3] He returned to the music industry four
        years later with the release of Relapse (2009) and Recovery was released
        the following year. Recovery was the best-selling album worldwide of
        2010, making it Eminem's second album, after The Eminem Show in 2002, to
        be the best-selling album of the year worldwide. In the following years,
        he released the US number one albums The Marshall Mathers LP 2 (2013),
        Revival (2017), Kamikaze (2018) and Music to Be Murdered By (2020).
      </p>
      <p>
        Eminem made his debut in the film industry with the musical drama film 8
        Mile (2002), playing a fictionalized version of himself, and his track
        "Lose Yourself" from its soundtrack won the Academy Award for Best
        Original Song, making him the first hip hop artist ever to win the
        award.[4] Eminem has made cameo appearances in the films The Wash
        (2001), Funny People (2009) and The Interview (2014) and the television
        series Entourage (2010). He has also developed other ventures, including
        Shady Records, a joint venture with manager Paul Rosenberg, which helped
        launch the careers of artists such as 50 Cent, Yelawolf and Obie Trice,
        among others. He has also established his own channel, Shade 45, on
        Sirius XM Radio. In addition to his solo career, Eminem was a member of
        the hip hop group D12. He is also known for collaborations with fellow
        Detroit-based rapper Royce da 5'9"; the two are collectively known as
        Bad Meets Evil.
      </p>

      <a href="/home">Home</a>
      <a href="/works">Albums</a>
    </div>
  </body>
</html>
