<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Ivar the Boneless</title>
    <link rel="stylesheet" href="/stylesheet/styles.css" />
  </head>
  <body>
    <h1>Welcome to Ivar the Boneless</h1>
    <p>
      Ivar the Boneless was one of the most feared Vikings in history — and he
      couldn't even stand without somebody holding him up. In Viking tradition,
      someone like him would've been killed at birth, but Ivar was protected
      because he was the son of a powerful chief. His body was so frail that he
      had to be carried on a shield when he went into battle, but his mind was
      one of the sharpest around. This was the man who led the Great Viking
      Heathen Army on its conquest of England. In the late 9th century under
      Ivar, the Vikings terrorized the nation and conquered everything from
      Essex to Dublin. Ivar ushered in an era of Viking domination over Britain
      that wouldn't end until long after his death. And, as legend has it, he
      didn't have a single bone in his body.
    </p>

    <a href="/home">Go back home</a>
    <a href="/works">See Works Page</a>
  </body>
</html>
