<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/stylesheet/styles.css" />
  </head>
  <body>
    <div class="works_container">
      <h1>Eminems Albums</h1>

      <a href="/about">About</a>
      <a href="/home">Home</a>
      <img src="../img/infinite1.jpg" alt="" class="eminemImgs" />
      <img src="../img/slimshadylp.jpg" alt="" class="eminemImgs" />
      <img src="../img/mmlp.jpg" alt="" class="eminemImgs" />
      <img src="../img/encore.jpg" alt="" class="eminemImgs" />
      <img src="../img/relapse.jpg" alt="" class="eminemImgs" />
    </div>
  </body>
</html>
