<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/stylesheet/styles.css" />
  </head>
  <body>
    <h1>Ivar the Boneless Raids</h1>
    <p>
      Ivar and his brothers Halfdan and Hubba invaded Great Britain in the year
      865 at the head of a large Viking force described by fearful Christians as
      the “Great Heathen Army.The brothers' motivation was to avenge their
      father, who had died after being captured while raiding the kingdom of
      Northumbria. Ragnar supposedly had been cast into a pit full of venomous
      snakes by order of the Northumbrian king Aella.
    </p>
    <p>
      Ivar led the Vikings to Nottingham, in the kingdom of Mercia. The Mercian
      king Burgred called upon Wessex for assistance. King Aethelred I and the
      future King Alfred (Alfred the Great) soon arrived to besiege Nottingham,
      and the Danes withdrew to York without a fight. They remained at York for
      about a year. In 869 they recrossed Mercia and returned to East Anglia,
      where they defeated King Edmund in battle.
    </p>
    <p>
      He renewed his partnership with Olaf the White and entered what is now
      Scotland. Their army overran and destroyed Dumbarton, capital of the
      Strathclyde kingdom, in 870. The following year the two returned in
      triumph to Dublin. Ivar, by then known as “king of the Norsemen of all
      Ireland and Britain, died in 873.
    </p>

    <a href="/about">See About me Page</a>
    <a href="/home">Go back home</a>
  </body>
</html>
